
body {
    padding-bottom: 40px;
    color: #666;
    padding-top: 70px;
}
pre { margin: 0; padding: 10px 20px !important;}

.container { width: auto; max-width: 1170px; }

@media ( min-width: 767px ) {
    .panel-group { width: 400px; }
    .thumbnail { margin: 0; }
}

.row {
    margin-bottom: 20px;
}

h3, h4 {
    font-weight: 300;
}

.language-markup {
    overflow-wrap: normal;
}